gnome-appearance-properties.desktop
gnome-control-center-2.30.1.tar.bz2
gnome-control-center.desktop
gnome-control-center-netbook.yaml
gnome-network-properties.desktop
gnome-settings-mouse.desktop
keyboard.desktop
meego-translations.tar.bz2
